<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ni-no..xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBE9738E1CFAC1970087C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE973A61CFAC1970087C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE973B11CFAC1970087C7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
